SECRET_KEY=django-insecure-hirefy-secret
DEBUG=True

ADMIN_INVITE_CODE=HIREFY-ADMIN-2026

CORS_ALLOW_ALL_ORIGINS=True

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=seu_email
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=Hirefy <seuemail>